[submodule "themes/sk1"]
	path = themes/sk1
	url = https://github.com/J-Siu/hugo-theme-sk1
[submodule "themes/tailwind"]
	path = themes/tailwind
	url = https://github.com/tomowang/hugo-theme-tailwind.git
